/* You can add global styles to this file, and also import other style files */

body{
    background-color: #f3f4f0;
    font-family : Arial, Helvetica, sans-serif;
}

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}



